<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body id="bodylanding" class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>

    <div id="spree-header">
      <header class="navbar navbar-default navbar-fixed-top" id="header" data-hook>
        <div class = "container">
        <div class="container">
          <div class="row">
            <figure id="logo" class="col-md-4" data-hook>
              <%= logo %>
            </figure>
          </div>
        </div>
      </div>
      </header>

    </div>

    <div class=".container">
      <div class="row">

        <div class="col-md-12">
          <%= link_to image_tag("flash.png"), products_path, id: "flash"  %>
        </div>
      </div>
      <a href="#howitworks"><span id="glylanding" class="glyphicon glyphicon-chevron-down" style="text-align: center;" aria-hidden="true"></span></a>

      <div id="howitworks" class="row">
          <h1><b>How it works</b></h1>
        <div  class="col-md-4">
          <%= link_to image_tag("selection.png"), products_path %>

          <p class="maintext"><b>You choose<br> what you like<b><br></p>
          <p class="moretext">And we will send you<br>fresh fruits and vegetables</p>

        </div>
        <div class="col-md-4">
          <%= link_to image_tag("bikeguy.png"), products_path %>

          <p class="maintext"><b>We deliver to your<br> door for free</b></p>
          <p class="moretext">So you can skip the stress<br> of the trip to the market</p>

        </div>
        <div class="col-md-4">
          <%= link_to image_tag("plate.png"), products_path %>

          <p class="maintext"><b>You cook a healthy<br> and tasty meal</b></p>
          <p class="moretext">Don't we all love a<br> delicious meal ?</p>
        </div>
      </div>
      <hr>
      <div id="footer" class="row">
        <div id="foot" class="col-md-12">
            <p><center><a href="#">info@freshbox.co.ke </a> <p class="footertext">Copyright 2015</p></center></p>
        </div>

      </div>

    </div>



  </body>
</html>
